APP_NAME=ow-redis-serverless
CDK_DEPLOY_REGION=ap-southeast-1
ENVIRONMENT=development

OWNER=OpenWorkspace-o1

VPC_ID=vpc-xxxxxxxx
VPC_SUBNET_TYPE=PRIVATE_ISOLATED
VPC_PRIVATE_SUBNET_IDS=subnet-xxxxxxxx,subnet-xxxxxxxx,subnet-xxxxxxxx

REDIS_USER_PASSWORD="8']!8Lm!e4l-£,[lVC*4kg0RVca"
REDIS_ENGINE_VERSION=8
REDIS_USER_NAME=user
REDIS_ENGINE=valkey # redis", "memcached", or "valkey"
